{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <div class="hero-content">
      <h1 class="display-6 mb-4 custom-title">
        Bem-Vindo ao <span class="custom-bold-blue">Fisio Care!</span>
      </h1>
      <p class="lead mb-4 custom-paragraph">
        A plataforma que vai te ajudar a gerenciar seus pacientes e consultas de forma simples e eficiente.
      </p>
      <a class="btn btn-custom-blue btn-lg" href="{}">Crie sua conta</a>
    </div>
  </div>
</section>

<!-- Rodapé -->
<footer class="footer py-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-auto text-center mb-2 mb-md-0">
        <p class="mb-0">Precisa de ajuda? Entre em contato:</p>
      </div>
      <div class="col-12 col-md-auto text-center mb-2 mb-md-0">
        <a href="mailto:fisio@suport.com.br">fisio@suport.com.br</a>
      </div>
      <div class="col-12 col-md-auto text-center mb-2 mb-md-0">
        <a href="tel:+5591999999999">+55 91 99999-9999</a>
      </div>
    </div>
  </div>
</footer>

<style> 

</style>
{% endblock %}
